{% extends 'Aplicacao/base.html' %}
{% load static %}
{% block content %}
   <div id="content">
	   <div class="inside">
		   <div id="system-message-container"></div>
		   <div style="border: 0px !important;">
			   <div id="djslider-loader121" class="djslider-loader djslider-loader-default" tabindex="0" style="padding-top: 0px; padding-bottom: 0px; background: none;">
				   <div id="djslider121" class="djslider djslider-default img-vcenter" style="height: 252.571px; width: 680px; max-width: 700px !important; opacity: 1;">
					   <div id="slider-container121" class="slider-container">
						   <ul id="slider121" class="djslider-in" style="position: relative; width: 680px;">
							   <li style="height: 252.571px; width: 680px; margin: 0px !important; position: absolute; top: 0px; left: 0px; opacity: 1; visibility: visible; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
								   <img class="dj-image" src="{% static 'Aplicacao/imagem/home_page.jpg'%}" alt="Informe importante!" style="width: auto; height: 100%;">

								   				<!-- Slide description area: START -->
								   <div class="slide-desc" style="bottom: 0%; left: 0%; width: 100%;">
									   <div class="slide-desc-in">
										   <div class="slide-desc-bg slide-desc-bg-default" style="background: "></div>
										   <div class="slide-desc-text slide-desc-text-default">
											   <div class="slide-title" style="">
												   Informe importante!
											   </div>
											   <div style="clear: both"></div>
										   </div>
									   </div>
								   </div>
								   <!-- Slide description area: END -->

							   </li>
							   <li style="height: 252.571px; width: 680px; margin: 0px !important; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
								   <img class="dj-image" src="{% static 'Aplicacao/imagem/ARTES--Capa.jpg'%}" alt="CECANE - UFT" style="width: auto; height: 100%;">
								   <img class="dj-image" src="{% static 'Aplicacao/imagem/ARTES--Capa.jpg'%}" alt="CECANE - UFT" style="width: auto; height: 100%;">
								   <img class="dj-image" src="{% static 'Aplicacao/imagem/ARTES--Capa.jpg'%}" alt="CECANE - UFT" style="width: auto; height: 100%;">
								   	<!-- Slide description area: START -->
								   <div class="slide-desc" style="bottom: 0%; left: 0%; width: 100%;">
									   <div class="slide-desc-in">
										   <div class="slide-desc-bg slide-desc-bg-default" style="background: "></div>
										   <div class="slide-desc-text slide-desc-text-default">
											   <div class="slide-title" style="">
												   CECANE - UFT
											   </div>
											   <div style="clear: both"></div>
										   </div>
									   </div>
								   </div>
								     <!-- Slide description area: END -->

							   </li>
						   </ul>
					   </div>
					   <div id="navigation121" class="navigation-container" style="top: 11.538461538462%; margin: 0 0.71428571428571%;">
						   <img id="prev121" class="prev-button showOnHover" src="{% static 'Aplicacao/imagem/prev.png'%}" alt="Previous" tabindex="0">
						   <img id="next121" class="next-button showOnHover" src="{% static 'Aplicacao/imagem/next.png'%}" alt="Next" tabindex="0">
					   </div>
					   <div id="cust-navigation121" class="navigation-container-custom ">
						   <span class="load-button load-button-active" tabindex="0"></span>
						   <span class="load-button" tabindex="0"></span>
					   </div>
				   </div>
			   </div>
		   </div>
		   <div class="djslider-end" style="clear: both" tabindex="0"></div>
		   <div class="blog-featured" itemscope="" itemtype="https://schema.org/Blog">
		   </div>

		   <table class="elements">
			   <tbody><tr>
				   <td class="elements-1">
					   <div class="moduletable">
						   <h3><a href="">Notícias</a></h3>
						   <ul class="latestnews mod-list">
							   <li itemscope="" itemtype="https://schema.org/Article">
								   <a href="" itemprop="url">
									   <span itemprop="name">
										   FNDE repassa R$ 918 milhões da complementação da União ao Fundeb			</span>
								   </a>
							   </li>
							   <li itemscope="" itemtype="https://schema.org/Article">
								   <a href="" itemprop="url">
									   <span itemprop="name">
										   Edição mais recente do Informe PNAE, que orienta as ações do Programa para todos os atores envolvidos.  Confira!			</span>
								   </a>
							   </li>
							   <li itemscope="" itemtype="https://schema.org/Article">
								   <a href="" itemprop="url">
									   <span itemprop="name">
										   Nova portaria detalha as alterações para emissores de DAP			</span>
								   </a>
							   </li>
							   <li itemscope="" itemtype="https://schema.org/Article">
								   <a href="" itemprop="url">
									   <span itemprop="name">
										   FNDE lança concurso para premiar boas práticas de agricultura familiar			</span>
								   </a>
							   </li>
							   <li itemscope="" itemtype="https://schema.org/Article">
								   <a href="" itemprop="url">
									   <span itemprop="name">
										   RESULTADO - EDITAL 001/2017  Processo seletivo para o cargo de agente do Programa Nacional de Alimentação Escolar (PNAE). 			</span>
								   </a>
							   </li>
						   </ul>
					   </div>
				   </td>																																										</tr>
			   </tbody>
		   </table>
	   </div>
   </div>
{% endblock %}